.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60vh; 
    display: flex;
    align-items: center; 
    z-index: 2;
    pointer-events: none;
    padding-left: 20px; 
    margin-left: 30px;
}

.content-left {
    text-align: left; 
    color: #fff;
    z-index: 3;
    pointer-events: all; 
}

.home-title {
    font-size: 2rem;
    margin-bottom: 20px;
}




.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
    text-align: center;
}

.transition-paragraph {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}

.transition-paragraph h1{
    font-size: 40px;
}

.values{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
    margin: 100px auto;
}

.values h1 {
    font-size: 40px;
}

.values p{
    line-height: 1.6;
    font-size: 20px;
    margin-top: 10px;   
}

