.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    padding-left: 20px;
    margin-left: 30px;
}
.content-center {
    text-align: center;
    color: #fff;
    z-index: 3;
    pointer-events: all;
}


.content-left {
    text-align: left; 
    color: #fff;
    z-index: 3;
    pointer-events: all; 
}

.home-title {
    font-size: 2rem;
    margin-bottom: 20px;
}




section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
    text-align: center;
}

.transition-paragraph {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}

.transition-paragraph h1{
    font-size: 40px;
}

.description-about1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    max-width: 80%;
    padding: 20px;
}

.description-about1 img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.paragraph {
    max-width: 600px;
    text-align: left;
}

.paragraph h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.paragraph h3 {
    margin-bottom: 20px;
}

.paragraph p {
    line-height: 1.6;
    font-size: 16px;
}

.description-about2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    background-color:#b8ddcf;
    padding: 50px 20px;
}

.description-about2 img {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.values{
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: 50px auto;
}

.values h1 {
    font-size: 40px;
}

.values p{
    line-height: 1.6;
    font-size: 16px;
    margin-top: 10px;   
}

.partners{
    margin: 50px auto;
    max-width: 80%;
    padding: 20px;
}
.partners .partners-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.partners h1 {
    margin-bottom: 20px;
    font-size: 40px;
}
.partners h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.partners img{
    width: 300px;
}

.social-icons-content{
    display: flex;
    gap:5px;
}

.social-icons-content a{
    text-decoration: none;
    color: var(--color-secondary);
}
.social-icons-content a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

@media (max-width: 991px) {
    .description-about1 {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .description-about1 img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .description-about2 {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .description-about2 img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .paragraph {
        text-align: center;
    }
}

@media(max-width:768px){
    .partners .partners-content{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

}