.home-container1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    margin-left: 250px;
}

.content-center {
    text-align: center;
    color: #fff;
    z-index: 3;
    pointer-events: all; 
}

.home-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFF;
}

.contactHome {
    display: inline-block;
    padding: 10px 30px; 
    background-color: transparent; 
    border: 1px solid var(--color-primary); 
    border-radius: 10px; 
    color: #000; 
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.contactHome:hover {
    background-color: #000000; 
    color: white; 
}

.sectionHome {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f9fafb;
}

.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 40px; 
}
.containerSection{
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 40px; 
}

.icon img {
    width: 100%; 
    height: auto; 
    max-width: 500px; 
}
.icon2 img{
    width: 100%;
    height: 100%;
    
} 

.content {
    max-width: 500px; 
    text-align: left;
}

.title {
    font-size: 32px;
    color: #000; 
    margin-bottom: 20px;
    text-transform: uppercase; 
}

.descriptionHome {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.6;
}
.experience-section {
    background-color: #1f1f1f;
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
  
  .experience-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 50px;
    padding: 20px;
   
}
  .experience-image {
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  .experience-text {
    color: #fff;
    max-width: 500px;
  }
  
  .experience-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .experience-text h2 span {
    color: var(--color-primary); 
  }
  
  .experience-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .experience-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .experience-button:hover {
    background-color: var(--color-primary);
    color: #1f1f1f;
    border-color: var( --color-primary-var-1);
  }
  @media (max-width: 1024px) {
    .home-container1 {
        height: 50vh;
        margin-left: 0; 
        justify-content: center; 
    }
    .content-center {
        padding: 20px;
    }
    .experience-content {
        flex-direction: column; 
        gap: 30px;
    }
}

@media (max-width: 768px) {
 
    .home-title {
        font-size: 1rem;
    }
    .contactHome {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .section {
        flex-direction: column;
        padding: 30px 0;
    }

    .container {
        flex-direction: column; 
        gap: 20px;
        align-items: center; 
        text-align: center; 
    }

    .containerSection {
        flex-direction: column;
        gap: 20px;
    }

    .experience-content{
        display: flex;
        flex-wrap: wrap;
    }
    .experience-image img{
        width: 550px; 
        max-width: 100%;
        height: auto;
       
    }

    .experience-text {
        text-align: center; 
        padding: 0 20px; 
    }

    .experience-text h2 {
        font-size: 28px;
    }

    .experience-text p {
        font-size: 16px;
        line-height: 1.6; 
    }
    
}

@media (max-width: 480px) {
    .home-title {
        font-size: 1.8rem;
    }

    .contactHome {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .section {
        padding: 20px 0; 
    }

    .title {
        font-size: 24px;
    }

    .descriptionHome {
        font-size: 14px;
    }

    .experience-text h2 {
        font-size: 24px;
    }

    .experience-text p {
        font-size: 14px;
        line-height: 1.4;
    }

    .experience-image {
        max-width: 100%;
        width: 380px; 
        height: auto;
    }
}
