.aboutcards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    text-align: center; 
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1200px;
    justify-items: center;
}

.aboutcards img{
    width: 250px;
}

.aboutcards p{
   font-size:20px; 
}

@media (max-width:768px){
    .aboutcards{
        display: block;
    }
}