
.header {
    position: relative;
    height: 65vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    transition: height 0.3s ease; 
}

.header.home {
    background-image: url('../../../src/home.png');
}

.header.about {
    background-image: url('../../../src/teste2.jpg');
}

.header.team {
    background-image: url('../../../src/teste2.jpg');
}

.header.contact {
    background-image: url('../../../src/teste1.jpg');
}


@media (max-width: 768px) {
    .header {
        height: 40vh;
    }
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease; 
    background-color: transparent; 
    z-index: 10;
    padding-left: 20px;
    justify-content: space-around;
}

.navbar.scrolled {
    background-color: var(--color-secondary-var2); 
}
.logo-icon {
    width: 300px; 
    height: 300px;
    margin-left: 200px;
}


.nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.nav-links a {
    margin-right: 20px; 
    position: relative;
    padding-bottom: 5px; 
    text-decoration: none; 
    color: #fff;
}

.nav-links a:last-child {
    margin-right: 0;
}

.nav-links a.active {
    opacity: 0.7; 
}

.nav-links a:hover {
    color: #000;
    opacity: 1; 
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #000; 
    border-radius: 2px;
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
    width: 0;
}

.nav-links a:hover::after {
    width: 100%; 
    background-color: #000; 
}


.nav-links.menu-open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    gap: 20px; 
    transition: all 0.3s ease;
}

.nav-links.menu-open a {
    display: block; 
    width: 100%; 
    text-align: center; 
    font-size: 30px; 
    color: #fff;
    padding: 10px 0; 
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.nav-links.menu-open .close-menu {
    display: block;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.3s ease;
}
.dropdown { 
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--color-secondary);
}

.dropdown:hover {
    background-color: var(--color-secondary-var3);
}

.flag-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    width: 120px;
}

.dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--color-secondary-var3);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }


    .nav-links a {
        font-size: 26px; 
        padding: 10px 0; 
        width: 100%; 
        text-align: center; 
    }
    .logo-icon{
        width: 100px;
        height: auto;
        margin-left: -25px;
    }
}
