

:root{
  --color-primary: #B89629;
  --color-secondary:  #005836;
  --color-primary-var:#
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}
.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}