

:root{
  --color-primary: #be9339;
  --color-secondary:  #32583a;
  --color-primary-var-1:#ae9537;
  --color-primary-var2: #e4d488;
  --color-secondary-var1:#0e8944;
  --color-secondary-var2:#1a3a21;
  --color-secondary-var3:#152e1a;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}
.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}